doctype html
html
  head
    title MEAN-EDGE
    script(src='/node_modules/angular2/bundles/angular2-polyfills.js')
    script(src='/public/static/site/vendor.bundle.js')
  body
    app Loading...
    script(src='/public/static/site/app.bundle.js')
    